@media screen and (max-width: 991px) {

    .header_container,
    .bg_img_container,
    .footer_container_contact,
    .container_products,
    .mobile_nav{
        width: 90%;
        margin: auto;
    }

    .header_container {
       justify-content: center;
        padding: 50px 20px 0;
    }

    .header_logo img{
        width: 350px;
    }

    .mobile_nav{
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    .mobile_nav_item{
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: normal;
        line-height: normal;
        overflow-wrap: break-word;
        text-align: left;
        text-indent: 0;
        text-shadow: none;
        text-transform: none;
        color: #333333;

    }
    .nav_container{
        display: none;
    }
    .mobile_nav nav ul li{
       margin: 30px;
    }

    .bg_img{
        min-height: 570px;
    }
    .bg_img_container_title h1{
        font-size: 11vw;
    }
    .bg_img_container_title h2{
        font-size: 9vw;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .green_button button{
        width: 250px;
        height: 70px;
        font-size: 30px;
    }













.contact img{
    width: 64px;
}

    .contact_text a {
        font-size: 35px;


    }
    }